<%- include('partials/header') %>

<main class="cadastro-bg">
  <section class="conteudo-cadastro">
    <h1 class="cadastro-titulo">Cadastro</h1>
    <form class="form-2" action="./cadastro.html">
      <div class="cadastro">
        <div>
          <label for="email-cadastro">Email</label>
          <input type="email" id="email-cadastro" name="email-cadastro" placeholder="Seu email">
        </div>
        <div>
          <label for="senha-cadastro">Senha</label>
          <input type="password" id="senha-cadastro" name="senha-cadastro" placeholder="Sua Senha">
        </div>
        <button type="submit" class="botao cadastrse">Cadastre-se</button>
        <button type="submit" class="botao">Já é cadastrado?</button>
      </div>
    </form>
  </section>
</main>

<%- include('partials/footer') %>
 