<%- include('partials/header') %>

<main class="cadastro-bg">
  <!--<section class="conteudo-cadastro">
    <h1 class="cadastro-titulo">Cadastro</h1>
    <form class="form-2" action="./cadastro.html">
      <div class="cadastro">
        <div>
          <label for="email-cadastro">Email</label>
          <input type="email" id="email-cadastro" name="email-cadastro" placeholder="Seu email">
        </div>
        <div>
          <label for="senha-cadastro">Senha</label>
          <input type="password" id="senha-cadastro" name="senha-cadastro" placeholder="Sua Senha">
        </div>
        <button type="submit" class="botao cadastrse">Cadastre-se</button>
        <button type="submit" class="botao">Já é cadastrado?</button>
      </div>
    </form>
  </section>-->

  <section class="contato-formulario" aria-label="Formulário">
    <form class="form" action="./enviar_cadastro" method="post"> 
      <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Seu nome" maxlength="200">
      </div>
      <div>
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" name="telefone" placeholder="(21) 9999-9999" maxlength="13">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="contato@email.com" maxlength="100">
      </div>
      <div >
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" name="endereco" placeholder="Rua/Av Jose Almeida, nº 145">
      </div>
      <div >
        <label for="cep">CEP</label>
        <input type="text" id="cep" name="cep" placeholder="00000-000">
      </div>
      <div >
        <label for="bairro">Bairro</label>
        <input type="text" id="bairro" name="bairro" placeholder="Centro">
      </div>
      <div >
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" name="cidade" placeholder="Taubaté">
      </div>
      <div >
        <label for="estado">Estado</label>
        <input type="text" id="estado" name="estado" placeholder="SP">
      </div>
      <div >
        <label for="complemento">Complemento</label>
        <input type="text" id="complemento" name="complemento" placeholder="apto/bloco ou ponto de referência">
      </div>

      
      <button class="botao col-2">Cadastrar</button>
    </form>
  </section>
</main>

<%- include('partials/footer') %>