<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link type="text/css" rel="stylesheet" href="stylesheets/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">

  <!-- WHATS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

  <title>EletriCar</title>
</head>

<body>

  <header class="header-bg">
    <div class="header">
      <a href="./">
        <img src="images/logo.png" alt="Logo EletriCar">
      </a>
      <nav aria-label="primaria">
        <ul class="header-menu">
          <li><a href="./nossoscarros">Nossos Carros</a></li>
          <li><a href="./quemsomos">Quem Somos</a></li>
          <li><a href="./noticias">Notícias</a></li>
          <li><a href="./contato">Contato</a></li>
          <li><a href="./cadastro">Cadastre-se</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="introducao-bg">
    <div class="introducao">
      <div class="introducao-conteudo">
        <h1>Carros elétricos brasileiros <span>.</span></h1>
        <p>
          São mais do que carros, é conforto, velocidade, tecnologia e performance.
        </p>
        <a href="./cadastro.html" class="botao">Cadastre-se</a>
      </div>
      <div class="introducao-imagem">
        <img src="images/carro-introducao.png" alt="Foto de um carro">
      </div>
    </div>
  </main>

  <article class="nossoscarros-lista">
    <h2 class='subtitulo-nossoscarros container'>Nossos Carros</h2>

    <ul>
      <li>
        <a href="./nossoscarros/renault.html">
          <img src="images/renault.png" alt="Renault Zoe">
          <h3 class="tipo-carro">Renault Zoe</h3>
          <span class="preco-carro">R$ 79.990</span>
        </a>
      </li>
      <li>
        <a href="./nossoscarros/tesla.html">
          <img src="images/tesla.png" alt="Tesla Model 3">
          <h3 class="tipo-carro">Tesla Model 3</h3>
          <span class="preco-carro">R$ 120.500</span>
        </a>
      </li>
      <li>
        <a href="./nossoscarros/volvo.html">
          <img src="images/volvo.png" alt="Volvo XC - 40">
          <h3 class="tipo-carro">Volvo XC - 40</h3>
          <span class="preco-carro">R$ 180.000</span>
        </a>
      </li>
    </ul>
  </article>

  <article class="quemsomos-bg">
    <div class="quemsomos container">
      <div class="quemsomos-conteudo">
        <h2 class="quemsomos-color">Quem somos<span class="quemsomos-interrogacao">?</span></h2>
        <p class="quemsomos-color">Somos a empresa pioneira em carros elétricos no Brasil. São mais de 20 anos
          promovendo a locomoção com consciência e responsabilidade.</p>
        <a id="modelo" class="quemsomos-color" class="escolha-modelo" href="./nossoscarros.html">Escolha um modelo</a>
        <div class="quemsomos-vantagens">
          <div>
            <img src="images/feedback_white_24dp 1.png" alt="">
            <h3 class="quemsomos-color">Melhores Feedbacks</h3>
            <p class="quemsomos-color">Canal de feedbacks</p>
          </div>
          <div>
            <img src="images/shopping_cart_white_24dp.png" alt="">
            <h3 class="quemsomos-color">Melhores Preços</h3>
            <p class="quemsomos-color">Melhores preços do mercado</p>
          </div>
        </div>
      </div>
      <div class="quemsomos-imagem">
        <img src="images/bmw.png" alt="">
      </div>
    </div>
  </article>

  <article class="noticias-bg">
    <div class="noticias container">
      <div class="noticias-imagem">
        <a href="./noticias.html"><img src="img/skoda 1.png" alt=""></a>
      </div>
      <div class="quemsomos-conteudo">
        <h2 class="noticias-color">Notícias</h2>
        <a href="./noticias.html">
          <p id="paragrafo-noticias" class="noticias-color">SUV cupê da Skoda é elétrico,esportivo e busca inspiraçãono
            Tesla Model X.</p>
        </a>
      </div>
    </div>
  </article>

  <footer class="footer-bg">
    <div class="footer container">
      <img class="logo-footer" src="images/logo.png" alt="EletriCar">
      <div class="footer-contato">
        <h3 class="subtitulo-footer">Contatos</h3>
        <ul>
          <li><a href="tel:+5521999999">+55 21 99999-0000</a></li>
          <li><a href="maito:contato@eletricar.com">contato@eletricar.com</a></li>
          <li>Rua Felipe Schimt, 52 - Centro</li>
          <li>Florianópolis- SC</li>
        </ul>
        <div class="footer-redes">
          <a href="./">
            <img src="images/instagram-p.svg" alt="Instagram">
          </a>
          <a href="./">
            <img src="images/facebook-p.svg" alt="Facebook">
          </a>
          <a href="./">
            <img src="images/youtube-p.svg" alt="Youtube">
          </a>
        </div>
      </div>
      <div class="footer-informacoes">
        <h3 class="subtitulo-footer">Informações</h3>
        <nav>
          <ul>
            <li><a href="./nossoscarros">Nossos Carros</a></li>
            <li><a href="./quemsomos">Quem Somos</a></li>
            <li><a href="./noticias">Notícias</a></li>
            <li><a href="./contato">Contato</a></li>
            <li><a href="./termos">Termos e Condições</a></li>
          </ul>
        </nav>
      </div>
      <p class="copyright">EletriCar ©️ Alguns direitos reservados.</p>
    </div>
    <a class="whatsapp-link" href="https://web.whatsapp.com/send?phone+5524999043393" target="_blank">
      <i class="fa fa-whatsapp"></i>
    </a>
  </footer>

</body>

</html>