<%- include('partials/header') %>

<main>
  <div class="carros">
    <h1 class="carros-h1">Nossos Carros<span>:</span></h1>
    <div class="carros-grid">
      <a href="./"><img class="renault" src="./images/renault.png" alt="Renault Zoe"></a>
      <div>
        <div class="carros-icons">
          <img src="./images/iconsCarros/icons-carro.svg" alt="">
          <h4>Renault Zoe</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/velocidade-carro.svg" alt="">
          <h4>0 km/h - 140 km/h</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/quantidade-pessoa-carro.svg" alt="">
          <h4>5</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/bateria-carro.svg" alt="">
          <h4>14h</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/preco-carro.svg" alt="">
          <h4>R$ 204.990</h4>
        </div>

        <div class="carros-icos">
          <a href="" class="botao botao-vejamais">VEJA MAIS</a>
        </div>
      </div>
    </div>
  </div>

  <div class="carros-2">
    <div class="carros-grid ">
      <a href="./"><img class="renault" src="./images/tesla.png" alt="Tesla Model 3"></a>
      <div>
        <div class="carros-icons">
          <img src="./images/iconsCarros/icons-carro.svg" alt="">
          <h4>Tesla Model 3</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/velocidade-carro.svg" alt="">
          <h4>0 km/h - 261 km/h</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/quantidade-pessoa-carro.svg" alt="">
          <h4>5</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/bateria-carro.svg" alt="">
          <h4>32h</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/preco-carro.svg" alt="">
          <h4>R$ 399.00</h4>
        </div>

        <div class="carros-icos">
          <a href="" class="botao botao-vejamais">VEJA MAIS</a>
        </div>
      </div>
    </div>
  </div>

  <div class="carros">
    <div class="carros-grid">
      <a href="./"><img class="renault" src="./images/volvo.png" alt="Volvo XC - 40"></a>
      <div>
        <div class="carros-icons">
          <img src="./images/iconsCarros/icons-carro.svg" alt="">
          <h4>Volvo XC - 40</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/velocidade-carro.svg" alt="">
          <h4>0 km/h - 205 km/h</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/quantidade-pessoa-carro.svg" alt="">
          <h4>5</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/bateria-carro.svg" alt="">
          <h4>18h</h4>
        </div>

        <div class="carros-icons">
          <img src="./images/iconsCarros/preco-carro.svg" alt="">
          <h4>R$ 402.000</h4>
        </div>

        <div class="carros-icos">
          <a href="" class="botao botao-vejamais">VEJA MAIS</a>
        </div>
      </div>
    </div>
  </div>
</main>  
  
<%- include('partials/footer') %>
   