<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head> -->

<%- include('partials/header') %>
<main>
    <h1>Deu ruim galera!!</h1>
    <br>
    <p>Por favor, tente novamente </p>
    <img src="./images/404.jpg" alt="Instagram">

</main>
<%- include('partials/footer') %>