<%- include('partials/header') %>

  <principal>
    <div class="noticias-tamanho">
      <h1 class="noticias-titulo">Notícias</h1>
      <div class="noticias-menu">
        <section class="section-economia">
          <h2>Economia</h2>
          <img class="imagem-noticias" src="./images/imagensNoticias/bmwNoticias.png" alt="Acoes da bmw aumentar">
          <p class="subtitulo-noticias">Ações da BMW sobem 100% após a entrada das fábricas no continente americano</p>
        </section>

        <section class="section-mundo">
          <h2>Mundo</h2>
          <img class="imagem-noticias" src="./images/imagensNoticias/jaguar.png" alt="Jaguar abre fábrica no Brasil">
          <p class="subtitulo-noticias">Jaguar abre fábrica no Brasil, tendência é de novas portas de emprego</p>
        </section>

        <section class="section-carros">
          <h2>Carros</h2>
          <img class="imagem-noticias" src="./images/imagensNoticias/troller.png" alt="Troller">
          <p class="subtitulo-noticias">A marca Troller, confirma o desenvolvimento do primeiro carro elétrico da marca
          </p>
        </section>
      </div>

      <div class="noticias-menu">
        <section class="section-economia">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias4.png" alt="Roll Royce">
          <p class="subtitulo-noticias">Roll Royce ganha o mercado oriental, tendência e ações subirem</p>
        </section>

        <section class="section-mundo">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias5.png" alt="VW">
          <p class="subtitulo-noticias">Volkswagen lança campanha beneficente para reaproveitamento de pneus</p>
        </section>

        <section class="section-carros">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias6.png" alt="Nissan">
          <p class="subtitulo-noticias">A marca Nissan, confirma o desenvolvimento do primeiro carro elétrico da marca
          </p>
        </section>
      </div>

      <div class="noticias-menu">
        <section class="section-economia">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias7.png" alt="Acoes da mercedes">
          <p class="subtitulo-noticias">Ações da Mercedes cai em 8% após marca negar produção de carros elétricos</p>
        </section>

        <section class="section-mundo">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias8.png" alt="Troller">
          <p class="subtitulo-noticias">Carros populares da Troller, serão lançados em Novembro</p>
        </section>

        <section class="section-carros">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias9.png" alt="Troller">
          <p class="subtitulo-noticias">A marca Volkswagen, confirma o desenvolvimento do novo fusca</p>
        </section>
      </div>

      <div class="noticias-menu">
        <section class="section-economia">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias13.png" alt="Audi">
          <p class="subtitulo-noticias">Ações da Audi sobem 100% após a entrada das fábricas no continente americano</p>
        </section>

        <section class="section-mundo">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias14.png" alt="Ferrari">
          <p class="subtitulo-noticias">Ferrari abre fábrica no Brasil, tendência é de novas portas de emprego</p>
        </section>

        <section class="section-carros">
          <img class="imagem-noticias" src="./images/imagensNoticias/noticias15.png" alt="BMW">
          <p class="subtitulo-noticias">A marca BMW, confirma o desenvolvimento do primeiro carro elétrico da marca</p>
        </section>
      </div>
    </div>
  </main>
    
<%- include('partials/footer') %>