<%- include('partials/header') %>

<main>
  <div class="quemsomos">
    <div class="quemsomos-titulo">
      <h1>Tradição e Inovação<span>!</span></h1>
      <h2>Carros Elétricos são nossa especialidade e nossa ideia de um futuro sustentável<span>.</span></h2>
    </div>

    <div class="quemsomos-conteudo">
      <p>
        Quando a Eletricar foi fundada no começo dos anos 2000, a intenção era incentivar projetos de protótipos de
        carros elétricos, por meio de parceria com universidades e institutos de pesquisa. A inciativa produziu dois
        protótipos: BR-elétrico 05 e o BR-elétrico 06.
      </p>
      <p>
        Infelizmente, o país ainda não estava pronto para um empreendimento tão ousadamente ecológico, não
        conseguindo, com isso, financiamento para a produção em grande escala.
      </p>
      <p>
        Mas o resto do mundo já começava a produzir seus primeiros carros elétricos com potencial popular, e, na
        intenção de oferecer uma alternativa semelhante ao brasileiro consciente, iniciamos a importação de carros
        elétricos.
      </p>
      <p>
        À medida que as grandes marcas passaram a investir em carros elétricos mais baratos e com variedade de
        modelos, o consumidor entendeu que a eletricidade automotiva, sustentável e renovável, não era um simples
        modismo, e sim uma ideia que cresceria com o novo século.
      </p>
      <p>
        Assim, para atender essa demanda crescente contamos com a melhor curadoria de importados elétricos, e temos
        como parceiros as principais montadoras do mercado. Além disso, conseguimos os melhores preços, pois
        negociamos diretamente com as montadoras via contrato de exclusividade com a principais marcas.
      </p>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
 