.footer-bg {
    background: #000000;
}

.logo-footer {
    width: 30%;
}

.footer-bg h3, ul, li,  a {
    color: #ffffff;
}

.subtitulo-footer {
    font-size: 32px;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 0px;
}

.footer h3 {
    margin-bottom: 32px;
}

.footer-contato ul {
    margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: #F6DF07;
    margin-top: 16px;
}

.footer li {
    margin-bottom: 16px;
}

.footer-redes {
    display: flex;
    gap: 32px;
}

.footer a:hover {
    color: #ffffff
}

.footer-copy {
    grid-column: 1/-1;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .footer > img {
      display: none;
    }
    .footer {
      grid-template-columns: 1fr 1fr;
    }
}
  
  @media (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .footer-copy {
      margin-top: 0px;
    }
}

.copyright { 
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Roboto';
}
  