<%- include('partials/header') %>

<main>
	<div class="valid">
		<h1 class="title">Validando compra</h1>
		<div class="rainbow-marker-loader"></div>
	</div>
	<script>
		var timer = setTimeout(function() {
			window.location='nossoscarros'
		}, 6000);
	</script>
</main>

<%- include('partials/footer') %>