<%- include('partials/header') %>

<main class="login-bg">
  <div class="container small">
    <% if (erros) { %>
      <ul class="erros">
        <% erros.forEach(erro => { %>
          <li><%= erro.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <h1>Autenticação de usuário</h1>

    <form action="/users/login" method="POST">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
      </div>

      <a href="./nossoscarros" class="botao col-2">Login</a>
      <a href="./cadastro" class="botao col-2">Cadastre-se</a>

    <div class="field">
      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha">
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
      <button class="botao col-2">Cadastre-se</button>
    </form>
  </section>
</main>
<br>
<br>
<br>
<br>
<%- include('partials/footer') %>