<%- include('partials/header') %>
<main>
    <h1>Deu ruim galera!!</h1>
    <br>
    <p>Por favor, tente novamente </p>
    <img src="./images/404.jpg" alt="Instagram">

</main>
<%- include('partials/footer') %>