<%- include('partials/header') %>

<<main>
    <div class="quemsomos">
      <div class="quemsomos-titulo">
        <h1>Renault Zoe</h1>
        <h2>Ficha técnica</h2>
        <img src="images/carros/RenaultZoe.jpg" alt="tesla" >
        <p>
            <img src="images/carros/renaultzoe1.jpg" alt="tesla" >
        </p>
        <img src="images/carros/renaultzoe2.jpg" alt="tesla" >
      </div>
  
      <div class="quemsomos-conteudo">

        <h3>Conectividade</h3>
        <p>
            Sistema Multimídia EasyLink com tela touchscreen de 7” compatível com Android Auto® e Apple CarPlay®. 
            Conecte seu smartphone através do cabo USB e escute playlists do Spotify, navegue pelo Google Maps ou Waze. 
            Conta ainda com câmera de ré e Bluetooth.
        </p>

        <h3>Painel Digital 10”</h3>
        <p>
            Permite que o motorista tenha todas as informações na palma da mão. Além disso, você ainda pode customizar o painel 
            com 2 opções de layout, 8 cores e criar até 3 perfis de condução, deixando o carro com a sua cara.
        </p>

        <h3>Piloto Automático</h3>
        <p>
            De série, com indicador e limitador de velocidade, oferece  uma condução mais confortável e segura para motorista e passageiros.
        </p>

        <h3>Sensor de Chuva</h3>
        <p>
            Sensor inteligente que aciona os limpadores de para-brisa assim que detecta os primeiros pingos no vidro. Além disso, ele também ajusta a velocidade do limpador de acordo com a intensidade da chuva.
        </p>

        <h3>Sensor Crepuscular</h3>
        <p>
            Devido ao sensor crepuscular, o Zoe E-TECH acende automaticamente seus faróis sempre que há a necessidade de iluminar o caminho.
        </p>

        <h3>Câmbio Inteligente</h3>
        <p>
            Com o câmbio E-Shifter, você tem ainda mais prazer e conforto ao dirigir. Ao desligar o carro, ele entra automaticamente no modo P e aciona o freio de mão. Com apenas um movimento, você muda do Modo D para o Modo B (que intensifica a recarga da bateria) e vice-versa.
        </p>

        <h3>Sensor de Ponto Cego</h3>
        <p>
            Os retrovisores contam com luz indicadora, que alerta sobre a presença de outros veículos no ponto cego do motorista, proporcionando viagens muito mais seguras para você e para quem está à sua volta.
        </p>

        <h3>Sensor de Estacionamento</h3>
        <p>
            O fim do medo de manobrar. Com o sensor de estacionamento do Zoe E-TECH, você manobra de forma ágil, segura e precisa.
        </p>

        <h3>Câmera de Ré</h3>
        <p>
            A câmera de ré do Zoe E-TECH oferece uma visão panorâmica de tudo o que está acontecendo atrás do carro, além de projetar linhas coloridas que ajudam a realizar as manobras, oferecendo assim mais conforto e segurança.
        </p>

        <div>
            <a href="./cadastroCliente" class="botao col-2">Finalizar Compra</a>
        </div>


      </div>
    </div>
  </main>






<%- include('partials/footer') %>