<%- include('partials/header') %>

<<main>
    <div class="quemsomos">
      <div class="quemsomos-titulo">
        <h1>Tesla Model 3</h1>
        <h2>Ficha técnica</h2>
        <img src="images/carros/TeslaModel3.jpg" alt="tesla" > 

      </div>
  
      <div class="quemsomos-conteudo">

        <h3>Tipo de Veículo:</h3>
            Motor dianteiro e central, tração nas quatro rodas, 5 passageiros, sedã de 4 portas.
        
        <h3>Arranque</h3>
        
            <ul class="texto">
                <li>Frente: Motor CA de indução, 184 hp, 177 lb-ft; Traseira: motor CA síncrono de ímã permanente, 241 hp, 298 lb-ft; Bateria de íon de lítio de 80,5 kWh.</li>
                <li>Transmissões: acionamentos diretos.</li>
              </ul>
        

        <h3>Chassis</h3>
        <ul class="texto">
            <li>Suspensão, F/R: multilink/multilink.</li>
            <li>Freios, F/R: disco ventilado de 12,6 polegadas/disco ventilado de 13,2 polegadas.</li>
            <li>Pneus (novos): Michelin Primacy MXM4.</li>
            <li>235/45R-18 98W M+S T0.</li>
            <li>Pneus (40.000 milhas): Michelin Pilot Sport 4.</li>
            <li>235/45ZR-18 98Y T0.</li>
          </ul>

        <h3>Dimensões</h3>

        <ul class="texto" >
            <li>Distância entre eixos: 113,2 pol.</li>
            <li>Comprimento: 184,8 pol.</li>
            <li>Largura: 72,8 pol</li>
            <li>Altura: 56,8 pol.</li>
            <li>Volume de passageiros: 97 pés3.</li>
            <li>Volume de carga: 15 pés3.</li>
            <li>Peso do freio: 4038 lb.</li>
          </ul>

        <h3>Garantia</h3>
        <ul class="texto">
            <li>4 anos/50.000 milhas para-choques a para-choques.</li>
            <li>8 anos/120.000 milhas powertrain (incluindo bateria).</li>
            <li>12 anos/milhas ilimitadas de proteção contra corrosão.</li>
            <li>4 anos/50.000 assistência na estrada.</li>
          </ul>

        <div>
            <button class="botao">Finalizar Compra</button>
        </div>


      </div>
    </div>
  </main>






<%- include('partials/footer') %>