<%- include('partials/header') %>

<<main>
    <div class="quemsomos">
      <div class="quemsomos-titulo">
        <h1>Volvo XC - 40</h1>
        <h2>Ficha técnica</h2>
        <img src="images/carros/volvo.jpeg" alt="tesla" >
        <p>
        <img src="images/carros/volvo2.jpg" alt="tesla" >
      </p>
        <img src="images/carros/volvo1.jpg" alt="tesla" >
      </div>
  
      <div class="quemsomos-conteudo">

        <h2>Mecânica</h2>
        <p>
            Motorização - 	1.5
        </p>
        
        <h4>Combustível - Híbrido / Elétrico</h4>
        <ul class="texto">
            <li>Potência (cv) - 262</li>
            <li>Torque (kgf.m) - 43,3</li>
            <li>Velocidade Máxima (km/h) - 180</li>
            <li>Tempo 0-100 (s) - 7,3</li>
            <li>Consumo cidade (km/l) - N/D</li>
            <li>Consumo estrada (km/l) - N/D</li>
          </ul>

          <p>
          <h4>Combustível - Gasolina</h4>
          <ul class="texto">
            <li>Potência (cv) - 180</li>
            <li>Torque (kgf.m) - 27</li>
            <li>Velocidade Máxima (km/h) - N/D</li>
            <li>Tempo 0-100 (s) - N/D</li>
            <li>Consumo cidade (km/l) - 24,5</li>
            <li>Consumo estrada (km/l) - 22,3</li>
          </ul>
        </p>

          <ul class="texto">
            <li>Câmbio - dupla embreagem man.sequ.com modo auto de 7 marchas</li>
            <li>Tração - dianteira</li>
            <li>Direção - elétrica</li>
            <li>Suspensão dianteira - Suspensão tipo braços triangulares e dianteira com barra estabilizadora, roda tipo independente e molas helicoidal.</li>
            <li>Suspensão traseira - Suspensão tipo multibraço e traseira com barra estabilizadora, roda tipo independente e molas feixe de lâminas.</li>
            <li>Freios - N/D</li>
          </ul>



        <h3>Dimensões</h3>
        <ul class="texto">
            <li>Altura (mm) - 1.652</li>
            <li>Largura (mm) - 1.873</li>
            <li>Comprimento (mm) - 	4.425</li>
            <li>Peso (Kg) - 1.672</li>
            <li>Tanque (L) - 49</li>
            <li>Entre-eixos (mm) - 2.702</li>
            <li>Porta-Malas (L) - 432</li>
            <li>Ocupantes - 5</li>
          </ul>

        <h3>Segurança</h3>
        <ul class="texto">
            <li>Airbag motorista</li>
            <li>Alarme</li>
            <li>Freios ABS</li>
            <li>Airbag passageiro</li>
            <li>Airbag lateral</li>
            <li>Controle de tração</li>
            <li>Distribuição eletrônica de frenagem</li>
          </ul>

        <h3>Conforto</h3>
        <ul class="texto">
          <li>Ar-condicionado</li>
          <li>Travas elétricas</li>
          <li>Ar-quente</li>
          <li>Piloto automático</li>
          <li>Volante com regulagem de altura</li>
         </ul>

        <h3>Som</h3>
        <ul class="texto">
            <li>Entrada USB</li>	
            <li>Rádio FM/AM</li>
            <li>Kit Multimídia</li>
         </ul>

        <h3>Bancos</h3>
        <ul class="texto">
            <li>Bancos de couro</li>
            <li>Ajuste elétrico</li>
        </ul>
		


        <h3>Janelas</h3>
        <ul class="texto">
            <li>Vidros elétricos dianteiros</li>
            <li>Desemb. traseiro</li>
            <li>Vidros elétricos traseiros</li>
         </ul>

        <h3>Outros</h3>
        <ul class="texto">
            <li>Computador de bordo</li>
            <li>Sensor de farol</li>
         </ul>

        <h3>Câmera de Ré</h3>
        <p>
            A câmera de ré do Zoe E-TECH oferece uma visão panorâmica de tudo o que está acontecendo atrás do carro, além de projetar linhas coloridas que ajudam a realizar as manobras, oferecendo assim mais conforto e segurança.
        </p>

        <div>
          <a href="./cadastroCliente" class="botao col-2">Finalizar Compra</a>
            
        </div>


      </div>
    </div>
  </main>






<%- include('partials/footer') %>