<footer class="footer-bg">
    <div class="footer container">
      <img class="logo-footer" src="images/logo.png" alt="EletriCar">
      <div class="footer-contato">
        <h3 class="subtitulo-footer">Contatos</h3>
        <ul>
          <li><a href="tel:+5521999999">+55 21 99999-0000</a></li>
          <li><a href="maito:contato@eletricar.com">contato@eletricar.com</a></li>
          <li>Rua Felipe Schimt, 52 - Centro</li>
          <li>Florianópolis- SC</li>
        </ul>
        <div class="footer-redes">
          <a href="./">
            <img src="images/instagram-p.svg" alt="Instagram">
          </a>
          <a href="./">
            <img src="images/facebook-p.svg" alt="Facebook">
          </a>
          <a href="./">
            <img src="images/youtube-p.svg" alt="Youtube">
          </a>
        </div>
      </div>
      <div class="footer-informacoes">
        <h3 class="subtitulo-footer">Informações</h3>
        <nav>
          <ul>
            <li><a href="./nossoscarros">Nossos Carros</a></li>
            <li><a href="./quemsomos">Quem Somos</a></li>
            <li><a href="./noticias">Notícias</a></li>
            <li><a href="./contato">Contato</a></li>
            <li><a href="./termos">Termos e Condições</a></li>
          </ul>
        </nav>
      </div>
      <p class="copyright">EletriCar ©️ Alguns direitos reservados.</p>
    </div>
    <a class="whatsapp-link" href="https://web.whatsapp.com/send?phone+5524999043393" target="_blank">
      <i class="fa fa-whatsapp"></i>
    </a>
  </footer>

</body>

</html>