<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="text/css" rel="stylesheet" href="stylesheets/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">

  <!-- WHATS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="../images/eletricaricon.ico" type="image/x-icon">

  <title>EletriCar</title>
</head>

<body>

  <header class="header-bg">
    <div class="header">
      <a href="./">
        <img src="images/logo.png" alt="Logo EletriCar">
      </a>
      <nav aria-label="primaria">
        <ul class="header-menu">
          <li><a href="./nossoscarros">Nossos Carros</a></li>
          <li><a href="./quemsomos">Quem Somos</a></li>
          <li><a href="./noticias">Notícias</a></li>
          <li><a href="./contato">Contato</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>